.App {
  text-align: center;
  background: url("https://img.freepik.com/premium-vector/dark-stripes-background-elegant-design-wallpapers_518299-1505.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}
